
.banner_part{

}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
	position:relative;
}
.hello_text{
	color:#8bc34a;
	bottom:10%;
}
.icon_size{
	font-size:60px;
}
.footer_part{
	padding:10px 0 10px 0;
}