
.banner_part{

}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
	position:relative;
}
.hello_text{
	color:#8bc34a;
	bottom:10%;
}
.icon_size{
	font-size:60px;
	margin:0 auto!important;
}
.footer_part{
	padding:10px 0 10px 0;
}
@media only screen and (max-width : 600px){
.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
	position:relative;
}
.icon_size{
	font-size:60px;
	
}
}